/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    margin-top: 0;
}
body {
    height: 100%;
    margin:0;
    /* Margin bottom by footer height */
}

.social-media-links > a {
    width: 10px;
    margin-right: 20px;
}

p {
    margin-top: 15px;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
}

h2, h4 {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    margin-bottom: 20px;
}

li {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    margin-bottom: 10px;
}

#dp {
    margin-top: 10px;
    margin-bottom: 15px;
}

body > .container {
    padding: 60px 15px 0;
}

#sticky-footer {
    flex-shrink: none;
}

code {
    font-size: 80%;
}

nav{
    margin:0;
    padding: 0;
}